.wrapper {
  position: relative;
  background: var(--bg);
  border-radius: 2px;
}

.n {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 12px;
  opacity: 0.3;
}

.circleWrap {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  --size: 8px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background-color: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px currentColor;
}

.pulsingCircle {
  position: absolute;
  background-color: currentColor;
  opacity: 0.16;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.detectedWrapper {
  z-index: 1;
}

.detectedTag {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  background: var(--red);
  color: var(--white);
  height: 23px;
  align-content: center;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 8px;
}

.circleInner {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  color: var(--textblack);
  font-weight: 400;
  padding: 8px 12px;
  text-transform: uppercase;
}

.circleInnerRow {
  display: flex;
  justify-content: space-between;
  & > p:nth-child(2) {
    font-weight: 500;
  }
}

.defendedSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  img {
    width: 50%;
  }
}

.defendedInfoWrap {
  padding: 16px;
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(2px);
  transform: translateX(-100%);
  left: 5px;
  text-transform: uppercase;
}

.defendedInfoRow {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  white-space: nowrap;
  gap: 32px;
}

.defendedInfoTitle {
  font-weight: 500;
  text-align: center;
  font-size: 11px;
  margin-bottom: 10px;
  color: var(--sand);
}
