.wrapper {
  width: 100%;
}

.inner {
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--textblack);
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.heading {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  line-height: 1.2em;
  & > span {
    color: var(--sand);
  }
}

.description {
  font-size: 16px;
  line-height: 1.5em;
  width: 60%;
  margin-left: 0.3em;
}

.cta {
  display: flex;
  gap: 16px;
}

.skullWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skullInner {
  --size: 24vw;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skullInner img {
  --size: 75%;
  width: var(--size);
  height: var(--size);
  display: block;
  position: absolute;
  object-fit: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
