.wrapper {
  width: 100%;
  padding: 0 40px;
  z-index: 2;
  position: relative;
}

.squareFullScreen {
  position: fixed;
  width: 150vw;
  aspect-ratio: 1/1;
  pointer-events: none;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}
.inner {
  height: 100vh;
  max-width: 2200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--textblack);
}

.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.heading {
  font-size: 5.4vw;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  line-height: 1.1em;
  & > span {
    color: var(--sand);
  }
}

@media screen and (min-width: 2100px) {
  .heading {
    font-size: 120px;
  }
}

.description {
  font-size: 16px;
  line-height: 1.5em;
  width: 60%;
  margin-left: 0.3em;
}

.cta {
  display: flex;
  gap: 16px;
}

.skullWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.skullInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 16px;
}

.skullInner svg {
  --size: 60%;
  width: var(--size);
  height: var(--size);
  display: block;
  position: absolute;
  object-fit: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.illegalStreamRectangle {
  position: relative;
  font-size: 1vw;
  width: 25em;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}
.skullRectangle {
  position: relative;
  font-size: 1vw;
  width: 25em;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skullCircleDots {
  position: absolute;
  --size: 82%;
  width: var(--size);
  height: var(--size);
  border: dotted 2px var(--sand);
  border-radius: var(--size);
}
.skullCircleLines {
  position: absolute;
  --size: 76%;
  width: var(--size);
  height: var(--size);
  border: dashed 1px var(--sand);
  border-radius: var(--size);
  opacity: 1.4;
}

.tag {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--green);
}

.homeInfoRow {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  white-space: nowrap;
  gap: 40px;
  & p:first-child {
    /* font-weight: bold; */
    text-transform: uppercase;
  }
  & p:nth-child(2) {
    /* font-weight: bold; */
    text-transform: uppercase;
    font-weight: 500;
  }
}

.homeInfoTitle {
  font-weight: 600;
  text-align: center;
  font-size: 11px;
  margin-bottom: 10px;
  color: var(--sand);
  text-transform: uppercase;
}

.homeInfoBox {
  width: 80%;
}
