.wrapper {
  --height: 100vh;
  width: 81px;
  height: var(--height);
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  overflow: hidden;
  will-change: transform;
  --bgColor: linear-gradient(
    180deg,
    rgba(178, 149, 96, 1) 0%,
    rgba(83, 60, 255, 1) 50%,
    rgba(178, 149, 96, 1) 100%
  );
}

.line {
  width: 1px;
  height: 100%;
  background: var(--bgColor);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.blur {
  width: 10px;
  height: 100%;
  right: 0;
  position: absolute;
  filter: blur(28px);
  background: linear-gradient(
    180deg,
    rgba(178, 149, 96, 1) 0%,
    rgba(83, 60, 255, 1) 50%,
    rgba(178, 149, 96, 1) 100%
  );
}
