:root {
  --textblack: #202020;
  --sand: #c4a469;
  --white: #fff;
  --bg: #f5f5f4;
  --gridline: #efeae1;
  --red: #ff4053;
  --green: #62b762;
  --transparentBlack: #a3a3a307;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #efeae1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

body {
  margin: 0;
  color: var(--textblack);
  background-color: var(--bg);
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}
